html, body {
    height: 100%;
    font-family: Inter, Arial, serif;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#mainContainer {
    height: 100%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 90%;
    width: 30vw;
}

h1, h2 {
    text-align: center;
    margin: 0 auto 5% auto;
}

h1 {
    margin-top: 1%;
}

.buttonsContainer {
    height: auto;
}

#pokemonData {
    height: 50vh;
    width: 20vw;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    align-self: center;
    background-color: lightgrey;
}

#pokemonPicture {
    display: flex;
    width: 80%;
    align-self: center;
    border: solid 3px black;
}

#pokemonTypeContainer {
    height: 10%;
}

#pokemonName {
    text-align: center;
    font-size: 3vh;
    background-color: lightgrey;
    border: solid 1px #505050;
    border-radius: .2em;
    margin: 0;
}

#typesLabel {
    margin: 0;
}

#pokemonType {
    width: 55%;
    justify-content: space-between;
}

#pokemonType div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5vw;
    height: 3.5vh; 
    border-radius: .2em;  
}

#pokemonType div span {
    display: flex;
    font-size: 2vh;
}