html, body {
    height: 100%;
    font-family: Inter, Arial, serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

#mainContainer {
    height: 100%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 95%;
    width: 30%;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
}

h1 {
    margin: 2% auto 2% auto;
    font-size: 40px;
}

.buttonsContainer {
    height: 10%;
    margin-top: 6%;
    justify-content: space-evenly;
}

button {
    font-size: 22px;
    border: 1px solid transparent;
    border-radius: .3em;
    width: 35%;
    height: 75%;
}

#infoButton {
    background-color: #7CFF79;
}

#pokemonData {
    height: 70%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    align-self: center;
    padding: 5%;
    background-color: #E8E8E8;
}

#pokemonPicture {
    display: flex;
    width: 80%;
    align-self: center;
    border: solid 3px black;
}

#pokemonTypeContainer {
    height: 10%;
    width: 50%;
    justify-content: space-between;
}

#pokemonName {
    text-align: center;
    font-size: 25px;
    background-color: lightgrey;
    border: solid 1px #505050;
    border-radius: .2em;
    margin: 0;
}

#typesLabel {
    margin: 0;
}

#pokemonType {
    width: 100%;
    justify-content: space-between;
    height: 25%;
}

#pokemonType div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5vw;
    height: 3.5vh; 
    border-radius: .2em;  
}

#pokemonType div span {
    display: flex;
    font-size: 2vh;
}

#dataColumn {
    width: 25%;
}